.container {
    color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

img {
    width: 70px;
    margin: 0;
}

.img-container{
    text-align: center;
}

.img-container p{
    margin: 0;
}